# Ignore common unnecessary files
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.log
*.tmp
*.DS_Store
.git/
.env

# Keep only what's needed for the Docker image
!Dockerfile
!requirements.txt
!app.py
!templates/**
!static/**
!scripts/**
!buildspec.yml
!appspec.yml
