# Ignore common unnecessary files and folders
.git
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.bak
*.log
.env

# Don't ignore required folders and files (important!)
!static/**
!templates/**
!scripts/**
!*.yml
!app.py
!requirements.txt
